name: Gradle build

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      spigot-target:
        type: string
      task:
        type: string
        default: build
      dependency-graph:
        type: string
        default: generate-and-upload
    outputs:
      artifact:
        description: Path to the jar artifact
        value: ${{ jobs.build.outputs.artifact }}
    secrets:
      hangar-token:
        required: false
      modrinth-token:
        required: false


permissions:
  contents: write

jobs:
  build:
    name: Run Gradle
    env:
      ARTIFACT: packages/single/build/libs/MapModCompanion.jar
    outputs:
      artifact: ${{ env.ARTIFACT }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Gradle
        uses: ./.github/actions/setup_gradle
        with:
          dependency-graph: ${{ inputs.dependency-graph }}
      - name: Determine target Spigot version
        id: target
        run: |
          TARGET=${{ inputs.spigot-target }}
          [[ -z "$TARGET" ]] && TARGET=$(tail -n1 VERSIONS.txt)
          echo "spigot-version=$TARGET" >> $GITHUB_OUTPUT
      - name: Run the task
        run: |
          ./gradlew \
          ${{ inputs.task }} \
          -Pversion=${{ inputs.version }} \
          -Pspigot_version=${{ steps.target.outputs.spigot-version }}
        env:
          HANGAR_TOKEN: ${{ secrets.hangar-token }}
          MODRINTH_TOKEN: ${{ secrets.modrinth-token }}
      - name: Force original path preservation
        run: touch .empty
      - uses: actions/upload-artifact@v4
        with:
          name: gradle-build
          path: |
            .empty
            ${{ env.ARTIFACT }}
