name: E2E test (common)

on:
  workflow_call:
    inputs:
      proxy:
        required: true
        type: string
      folia:
          type: boolean
      version:
        required: true
        type: string

jobs:
  test:
    name: E2E test (${{ inputs.version }}, proxy=${{ inputs.proxy }}, folia=${{ inputs.folia }})
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./tests_e2e
    env:
     # Legacy builder doesn't seem to properly mount /data folder inside server container for some reason
     DOCKER_BUILDKIT: 1
     FOLIA: "${{ inputs.folia }}"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: gradle-build
      - name: Build
        run: ./run.sh ${{ inputs.proxy }} ${{ inputs.version }} build
      - name: Test
        run: ./run.sh ${{ inputs.proxy }} ${{ inputs.version }} test
