name: E2E test

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - e2e

jobs:
  build:
    name: Build
    uses: ./.github/workflows/nightly.yml
  test:
    name: E2E test
    needs: build
    strategy:
      matrix:
        version:
          - 1.19.3
          - 1.8.9
        proxy:
          - velocity
          - bungeecord
    uses: ./.github/workflows/e2e_test.yml
    with:
      proxy: ${{ matrix.proxy }}
      version: ${{ matrix.version }}
