name: E2E test (common)

on:
  workflow_call:
    inputs:
      proxy:
        required: true
        type: string
      server:
        default: paper
        type: string
      version:
        required: true
        type: string

jobs:
  test:
    name: E2E (${{ inputs.version }}, ${{ inputs.proxy }}, ${{ inputs.server }})
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: ./tests_e2e
    env:
     # Legacy builder doesn't seem to properly mount /data folder inside server container for some reason
     DOCKER_BUILDKIT: 1
     SERVER_TYPE: "${{ inputs.server }}"
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v5
        with:
          name: gradle-build
      - name: Build
        run: ./run.sh ${{ inputs.proxy }} ${{ inputs.version }} build
      - name: Test
        run: ./run.sh ${{ inputs.proxy }} ${{ inputs.version }} test
