name: E2E test

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    uses: ./.github/workflows/nightly.yml
  paper:
    name: E2E test
    needs: build
    strategy:
      fail-fast: false
      matrix:
        version:
          - 1.21.1
          - 1.16.5
          - 1.16.3
          - 1.13.2
          - 1.12.2
          - 1.8.9
        proxy:
          - velocity
          - bungeecord
    uses: ./.github/workflows/e2e_test.yml
    with:
      proxy: ${{ matrix.proxy }}
      version: ${{ matrix.version }}
  paper-folia:
    name: E2E test (with Folia)
    needs: build
    strategy:
      fail-fast: false
      matrix:
        version:
          - 1.20.6
        proxy:
          - velocity
          - bungeecord
        server:
          - paper
          - folia
    uses: ./.github/workflows/e2e_test.yml
    with:
      proxy: ${{ matrix.proxy }}
      version: ${{ matrix.version }}
      server: ${{ matrix.server }}
