name: GitHub release

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write

jobs:
  version:
    name: Detect version
    uses: ./.github/workflows/version.yml
  build:
    name: Build
    needs: version
    uses: ./.github/workflows/gradle.yml
    with:
      version: ${{ needs.version.outputs.version }}
  release:
    name: Prepare release
    needs:
      - version
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: gradle-build
      - uses: softprops/action-gh-release@v2
        with:
          name: ${{ needs.version.outputs.version }}
          prerelease: ${{ needs.version.outputs.pre-release }}
          generate_release_notes: true
          draft: true
          files: ${{ needs.build.outputs.artifact  }}
