name: Upload pages

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  upload:
    name: Upload pages
    env:
      MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
      HANGAR_TOKEN: ${{ secrets.HANGAR_TOKEN }}
      UPDATE_PAGES: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v3
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Run tasks
        run: |
          ./gradlew \
          modrinthSyncBody \
          syncAllPluginPublicationPagesToHangar
