name: Upload pages

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  upload:
    name: Upload pages
    env:
      MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
      HANGAR_TOKEN: ${{ secrets.HANGAR_TOKEN }}
      UPDATE_PAGES: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup_gradle.yml
      - name: Run tasks
        run: |
          ./gradlew \
          modrinthSyncBody \
          syncAllPluginPublicationPagesToHangar
