name: Update Gradle Wrapper

on:
  workflow_dispatch:
  schedule:
    - cron: "41 18 * * 1"

jobs:
  update-gradle-wrapper:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Update Gradle Wrapper
        uses: gradle-update/update-gradle-wrapper-action@v2
        with:
          repo-token: ${{ secrets.GRADLE_UPDATE_TOKEN }}
